.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.cardContainer:hover .description {
  display: block;
}

.soundcloud {
  width: 70%;
  height: 60%;

 
}

.soundcloud iframe{
    display: flex;
    border-radius: 10px;
}

.description {
  animation: open 0.5s;
  border-radius: 10px;
  display: none;
  padding: 10px;
  background-color: #19323c;
  color: #f3f7f0;
  width: 80%;
  margin-top: 10px;
}

.description p {
  margin: 0;
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}