.contactContainer{
    
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.contactContainer h1{
    font-size: 6vh;
    font-family: Stuart;
    color: #A93F55;
    padding: 10px;

}

.contactContainer h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.email{
    font-size: 3vh;
    color: #19323C; 
    text-decoration: none;   
    transition: 0.2s ease-in-out;
    padding: 10px;
}

.email:hover{
    color: #A93F55;
    transform: scale(1.3,1.3);
}

.email span {

    font-size: 4vh;
    font-family: Stuart;
    /* color: #A93F55; */
    text-decoration: none;

}

.socialLinks{
    display: flex;
    width: 20%;
    /* justify-content: space-evenly; */
    justify-content: center;
}

.socialLinks img{
    display: block;
    width:30%;
    margin-left: auto;
    margin-right: auto;

    /* animation: hoverEffect 3s infinite ease-in-out; */
}

.twitterLogo{

    animation-delay: 0s;

}

.instagramLogo{

    animation-delay: 4s;

}

.youtubeLogo{

    animation-delay: 1s;

}

.appleLogo{

    animation-delay: 2s;

}

.contactContainer h3{
    margin: 40px 0px;
    font-family: Stuart;
    font-size: 3vh;
}

@media screen and (max-width:1300px){


    .socialLinks{
        width:60%;
    }

    .email:hover{
        transform: none;
    }
}