.homeContainer{

    height: 100%;
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.homeContainer p{
    background: #e8ebe5;
    width: 600px;
    border-radius: 10px;
    padding: 30px;
    padding-top: 0px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    text-indent: 50px;
    text-align: justify;

}

.homeContainer span{
    font-size: 4.6rem;
    font-family: Deliverance;
    color: #A93F55;
}

.homeContainer iframe{
    border-radius: 5px;
}

@media screen and (max-width:1300px){
    .homeContainer{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .homeContainer p{
        width: 80%;
    }

    .homeContainer iframe{
        width: 80%;
        height: 40%;
    }
}

