body {
  margin: 0;
  font-family: Giveny;
  height: 100vh;
  background: #F3F7F0;
  color: #19323C;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #F2545B;
  color: #F3F7F0;
}

 /* width */
 ::-webkit-scrollbar {
  width: 30px;
  height: 30px;
 background: #19323C;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19323C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A93F55;
  border-radius: 100px;
  background-clip: padding-box;
  border: solid 10px transparent;
}

::-webkit-scrollbar-corner{
  background: #19323C;
}

@font-face {
  font-family: Giveny;
  src: url('../fonts/giveny/Giveny.otf');
}

@font-face {
  font-family: Deliverance;
  src: url('../fonts/deliverance/deliverance.otf');
}

@font-face {
  font-family: Quacker;
  src: url('../fonts/quacker/Quacker_Demo.ttf');
}
