.mediaContainer {
  display: grid;
  place-items: center;

  grid-template-columns: repeat(3, 1fr);
}



@media screen and (max-width:1300px){

.mediaContainer{
  grid-template-columns: 1fr;
}

    
}