nav{

    display: grid;
    grid-template-columns: 1fr 3fr repeat(7, 1fr);
    place-items: center;

}

.logo {
    font-family: Quacker;
    font-size: 3rem;
    grid-column: 2;
    color: #A93F55;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-shadow: -2px 3px 1px #772d3c;
    transition: 0.2s;
    cursor: pointer;
}

.logo h1 {
    margin: 0;
}

.links {

    font-size: 2rem;
    font-weight: 500;
    text-decoration: currentColor underline;
    color: #19323C;
    cursor: pointer;
    transition: 0.2s;
}

.links:hover, .logo:hover {
    color: #F2545B;
    transform: scale(1.1,1.1);
}

.links:nth-child(2) {
    grid-column: 5;
}

.links:nth-child(3) {
    grid-column: 7;
}

@media screen and (max-width:1300px){

    .logo {
        font-size: 5vh;
    }

    .links {
        font-size: 3vh;
    }
}