.scrolltotopContainer button {

    
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    color: #19323C;
    border: none;
    border-radius: 10px;
    height:50px;
    width: 50px;
    opacity: 1;
    font-size: 2rem;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;

    transition: color 0.3s;
    transition: 0.3s;


}

.scrolltotopContainer {
    scroll-behavior: smooth;
}

.scrolltotopContainer:hover button {
    cursor: pointer;
    opacity: 0.9;
    background-color:#19323C;
    color: #e8ebe5;
}